useDynLib(pGMCM, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(abind, abind)
import(magrittr)
import(methods)
importFrom(purrr, map)
import(stats)
import(mvtnorm)
exportPattern("^[[:alpha:]]+")