useDynLib(pGMCM, .registration=TRUE)
importFrom(abind, abind)
importFrom(dplyr, mutate)
import(magrittr)
import(methods)
importFrom(plyr, alply)
importFrom(purrr, map)
importFrom(Rcpp, evalCpp)
import(stats)
import(mvtnorm)
exportPattern("^[[:alpha:]]+")