useDynLib(pGMCM, .registration=TRUE)
importFrom(abind, abind)
importFrom(dplyr, mutate)
import(magrittr)
import(methods)
importFrom(plyr, alply)
importFrom(purrr, map)
importFrom(readr, read_table2)
importFrom(Rcpp, evalCpp)
import(stats)
import(testthat)
import(mvtnorm)
importFrom(MCMCpack, riwish)
importFrom(nimble, rdirch)
importFrom(LaplacesDemon, rnorminvwishart)
importFrom(stringr, str_split)
exportPattern("^[[:alpha:]]+")